html {
  height: 100%;
  background-color: #333;

  color: #fff;
}

body {
  background-color: inherit;

  color: inherit;
}

/* Material Icons, copy pasta from http://google.github.io/material-design-icons/ */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://87.214.101.234:8080/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(http://87.214.101.234:8080/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(http://87.214.101.234:8080/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(http://87.214.101.234:8080/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Custom sizes */

.large {
  font-size: 6em;
}
